
button.main_menu{
  background-color: #f2f2f2;
  border: 0px solid #f2f2f2; 
  border-radius: 10px;
  color: black;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

button.search_button {
  background-color: #808080;
  border: 0px solid #f2f2f2; 
  border-radius: 5px;
  color: black;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
