
table.result_menu{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table.result_menu th,table.result_menu td{
    padding: 10px 0;
    text-align: center;
}

table.result_menu tr:nth-child(odd){
    background-color: #eee
}
